spring.application.name=todolist

spring.datasource.url=jdbc:mysql://localhost:XXXX/XXXXX
spring.datasource.username=userX
spring.datasource.password=passwordX
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.hibernate.ddl-auto=update